@model  int

@{
    ViewBag.Title = "EmployeeNotFound";
}

<h3 class="alert alert-danger mt-2 mb-2">Error : 404 NOT FOUND</h3>
<hr>
<h3 class="alert alert-danger mt-2 mb-2">Employee with ID : @Model</h3><br>
<a  asp-controller="Home" asp-action="Index" class="btn btn-outline-success">Back To Home</a>


    

