@model EMPLeave


<div class="row justify-content-center m-3">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h1>@Model.LeaveId</h1>
                <h2>@Model.LeaveType</h2>
                <h3>@Model.StartDate</h3>
                <h3>@Model.EndDate</h3>
            </div>
            
    </div>
</div>
    </div>

@section Scripts {

    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
}